<h2>Listado de Sueldos</h2>

<h3><%= @nombre.titleize + " " + @apellido.titleize%></h3>

<%= flash[:notice] %>

<%= content_tag :div, "", id: "sueldos-graph", data: {sueldos: @sueldos} %>

<%= render 'source' %>

<%= render 'detailed_listing' %>
