<h2>Listado de Sueldos</h2>

<%= flash[:notice] %>

<%= render 'month_header' %>

<%= content_tag :div, "", id: "sueldos-graph", data: {sueldos: @sueldos} %>

<%= render 'source' %>

<%= render 'listing' %>
